body{
position: absolute;
width: 1440px;
height: 700px;
background-color: #C3F7E7;
color: #25AD81;
font-family: 'Quicksand', sans-serif;
}

h2{
    position: relative;
    font-size: xx-large;
    top: 150 px;
    

}

.block{
    position: relative;
    width: 271px;
    height: 45px;
    top:13px;
}

.carousel 
{
  position: relative;
  width: 1440px;
  height: 350px;
  padding: 0px 40px;
  border: 1px solid #CCC;
  border-radius: 15px;
  background-color: #25AD81;
}

.carousel li {
  padding-top: 20px;
  width: 132px;
  height: 2000px;
  text-align: center;
}

.arrow {
    position: absolute;
    top: 150px;
    padding: 0;
    background: #C3F7E7;
    border-radius: 15px;
    border: 2px solid #25AD81;
    font-size: 24px;
    line-height: 24px;
    color: #25AD81;
    display: block;
  }
.arrow:focus {
    outline: none;
  }
  
.arrow:hover {
    background: #C3F7E7;
    cursor: pointer;
    color: #F88061;
  }
  
.prev {
    left: 7px;
  }
  
.next {
    right: 7px;
  }
.prev2 {
    left: 7px;
  }
  
.next2 {
    right: 7px;
  }

.gallery{
    width: 1360px;
    height: 350px;
    overflow: hidden;
}
.first{
  height: 120px;
  width: 28800px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 1;
  }

li#title {
    display: inline-block;
    
  }
.second{
    height: 120px;
    width: 28800px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 1;
    }
  ul#genre-content{
    
    text-align: center;
  }

  .tabs {
    background-color: #C3F7E7;
  }

  .tabs.is-large a:hover {
    background-color: #C3F7E7;
    color: #F88061;
}

  .tabs.is-large {
    border-bottom: solid;
    border-color: #F88061;
}

  .tabs.is-large a{
    color: #25AD81;
    background-color: #C3F7E7;
  }

  .tabs.is-boxed li.is-active a{
    background-color: #C3F7E7;
    border-color: #C3F7E7;
    color: #F88061
}

.tabs.is-boxed li.is-active {
  background-color: #C3F7E7;
  border-color: #C3F7E7;
  color: #F88061
}

.divider {
  padding-top: 50px;
}

.input {
  width:max-content;
}

.divider {
  padding-top: 30px;
}