body{
position: absolute;
width: 1440px;
height: 1440px;
}
.tabs{
    background-color: rgb(160, 201, 248);
}
h2{
    position: bottom;
    font-size: xx-large;

}

.block{
    position: absolute;
    width: 271px;
    height: 45px;
    left: 1162px;
    top: 13px;
}
.carousel 
{
  position: relative;
  width: 1440px;
  height: 330px;
  padding: 10px 40px;
  border: 1px solid #CCC;
  border-radius: 15px;
  background: #eee;
  margin: auto;
  margin-top: 15%;
}

.arrow {
    position: absolute;
    top: 150px;
    padding: 0;
    background: rgb(109, 109, 109);
    border-radius: 15px;
    border: 2px solid rgb(2, 2, 2);
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
  }
.arrow:focus {
    outline: none;
  }
  
.arrow:hover {
    background: rgb(0, 0, 0);
    cursor: pointer;
  }
  
.prev {
    left: 7px;
  }
  
.next {
    right: 7px;
  }
  
.gallery{
    width: 1440px;
    overflow: hidden;
}
.gallery ul#title{
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    transition: margin-left 250ms;
    list-style: none;
    font-size: 15;
  }

li#title {
    
    width: 130px;
    height: 130px;
    display: inline-block;
  }

