body{
position: absolute;
width: 1440px;
height: 1440px;
}
.tabs{
    background-color: rgb(160, 201, 248);
}

h2{
    position: relative;
    font-size: xx-large;
    top : 150 px
    

}

.block{
    position: relative;
    width: 271px;
    height: 45px;
    top:13px;
}

.carousel 
{
  position: relative;
  width: 1440px;
  padding: 10px 40px;
  border: 1px solid #CCC;
  border-radius: 15px;
  background: #eee;
}

.carousel li {
  padding-top: 20px;
  width: 132px;
  height: 130px;
  text-align: center;
}

.arrow {
    position: absolute;
    top: 60px;
    padding: 0;
    background: rgb(109, 109, 109);
    border-radius: 15px;
    border: 2px solid rgb(2, 2, 2);
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
  }
.arrow:focus {
    outline: none;
  }
  
.arrow:hover {
    background: rgb(0, 0, 0);
    cursor: pointer;
  }
  
.prev {
    left: 7px;
  }
  
.next {
    right: 7px;
  }
.prev2 {
    left: 7px;
  }
  
.next2 {
    right: 7px;
  }
  
.gallery{
    width: 1360px;
    overflow: hidden;
}
.first{
  height: 120px;
  width: 28800px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 1;
  }

li#title {
    display: inline-block;
  }
.second{
    height: 120px;
    width: 28800px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 1;
    }