h1 {
    font-weight: bold;
}

.header {
    font-size:larger;
}

.block{
    position: relative;
    width: 271px;
    height: 45px;
    top: 13px;
}
.header img {
    height: 445px;
    width: 100%;
}

.box {
    position: relative;
    float: left;
    margin-left: 10px;
}

h2 {
    margin-left: 10px;
    font-weight: bold;
    font-size: larger;
}

.view-options {
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}

.button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

body {
    background-color: #C3F7E7;
    font-family: 'Quicksand', sans-serif;
    color: #25AD81
}

.button.is-info.is-light {
    background-color: #25AD81;
    color: #C3F7E7;
}

.button.is-info.is-light:hover{
    background-color: #F88061;
    color: #4a4a4a
}

.table {
    background-color: #C3F7E7;
    color: #25AD81;
}

.table thead th {
    color: #25AD81
}

.box {
    background-color: #C3F7E7;
}

.tabs.is-large a:hover {
    background-color: #C3F7E7;
    color: #F88061;
}

.tabs.is-large a{
  color: #25AD81;
}

.tabs.is-large{
    border-bottom: solid;
    border-color: #F88061;
}

.input.is-rounded {
    background-color: #C3F7E7;

}
.input.is-rounded:hover {
    border: solid;
    border-width: 1px;
    color: #F88061;
}

section.hero.is-small.is-primary {
  background-color: #25AD81;
}

img.logo{
  width: 60px;
  height: 60px;
  top: 50px;
}

/* popup and overlay CSS credits to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_delete_modal*/

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Float cancel and delete buttons and add an equal width */
  .cancelbtn, .deletebtn {
    float: left;
    width: 50%;
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #ccc;
    color: black;
  }
  
  /* Add a color to the delete button */
  .deletebtn {
    background-color: #f44336;
  }
  
  /* Add padding and center-align text to the container */
  .container {
    padding: 16px;
    text-align: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
       width: 100%;
    }
  }