h1 {
    font-weight: bold;
}

.header {
    font-size:larger;
}

.block{
    position: relative;
    width: 271px;
    height: 45px;
    top: 13px;
}
.header img {
    height: 445px;
    width: 100%;
}

.box {
    position: relative;
    float: left;
    margin-left: 10px;
}

h2 {
    margin-left: 10px;
    font-weight: bold;
    font-size: larger;
}

.view-options {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-left: 60px;
    font-size: larger;
    font-weight: bold;
}

.button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

body {
    background-color: #C3F7E7;
    font-family: 'Quicksand', sans-serif;
    color: #25AD81
}

.button.is-info.is-light {
    background-color: #25AD81;
    color: #C3F7E7;
}

.button.is-info.is-light:hover{
    background-color: #F88061;
    color: #4a4a4a
}

.table {
    background-color: #C3F7E7;
    color: #25AD81;
}

.table thead th {
    color: #25AD81
}

.box {
    background-color: #C3F7E7;
}

.tabs.is-large a:hover {
    background-color: #C3F7E7;
    color: #F88061;
}

.tabs.is-large{
    border-bottom: solid;
    border-color: #F88061;
    color: #25AD81
}

.input.is-rounded {
    background-color: #C3F7E7;

}
.input.is-rounded:hover {
    border: solid;
    border-width: 1px;
    color: #F88061;
}

/* popup and overlay CSS credits to https://www.experts-exchange.com/articles/28838/Create-a-responsive-confirmation-popup-using-HTML-CSS-jQuery-and-Promises.html*/


.popup {
    width: 33.333333%;
    padding: 15px;
    left: 0;
    margin-left: 33.333333%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    position: absolute;
    top: 15%;
    box-shadow: 5px 5px 5px #000;
    z-index: 10001;
  }

  .overlay {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.85);
    z-index: 10000;
  }

  @media (min-width: 768px) {
    .popup {
      width: 66.66666666%;
      margin-left: 16.666666%;
    }
  }
  @media (min-width: 992px) {
    .popup {
      width: 50%;
      margin-left: 25%;
    }
  }
  @media (min-width: 1200px) {
    .popup {
      width: 33.33333%;
      margin-left: 33.33333%;
    }
  }